//- include ../k-scaffold/_kpug.pug
include nested_fieldset/nested_fieldset.pug

mixin roll(name, label, modifier)
    button(type="roll" class="baseRoll" name=`roll_${label}` title=`%{${label}}` value=`[[1d10+(@{${modifier})}]]`)
    button(type="roll" class="baseRoll" name=`roll_${label}` title=`%{${label}}` value=`[[1d10+(@{${modifier})}]]`)

mixin score(name)
    div(class="bigScore")
        input(type="number" name=`attr_${name}_score`)
        span
        input(type="number" name=`attr_${name}_currentXP`)
        span
        input(type="number" name=`attr_${name}_nextXP`)
        span

- var roller_to_rolltemplate = {}

mixin arm5_roll(obj)
    - roller_to_rolltemplate[obj.name] = obj.rolltemplate
    - obj['trigger'] = {listenerFunc:'arm5Roll'}
    +roller(obj)

mixin arm5_rolltemplate_store()
    |const roller_to_rolltemplate = {
    != "\n" + Object.entries(roller_to_rolltemplate).map(([roller, template]) => `  ${roller}: "${template}",`).join("\n") + "\n"
    |};

